.element__button-like {
  padding: 0;
  background-image: url('../../../images/Vector.svg');
  background-color: transparent;
  border: none;
  outline: none;
  width: 20.76px;
  height: 18.13px;
  min-width: 20.76px;
  min-height: 18.13px;
  margin-left: 35px;
}